@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic);

body { font-family: 'Roboto', serif; color: #191970; }
h1 {font-family: 'Roboto'; font-weight: bold; color: #191970;}
h2, h3 {font-family: 'Roboto'; font-weight: normal; color:#191970;}
.remark-code, .remark-inline-code { font-family: 'Fira Code', monospace; }

.inverse {background-color: #191970;}